<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyectogameverse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/inc_videojuego"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inc_videojuego"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoGameverse"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ResultadoBuscarActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".BuscadorActivity"
            android:exported="false" />
        <activity
            android:name=".EditarActivity"
            android:exported="false" />
        <activity
            android:name=".CrearActivity"
            android:exported="false" />
        <activity
            android:name=".PublicacionesActivity"
            android:exported="false" />
        <activity
            android:name=".GruposActivity"
            android:exported="false" />
        <activity
            android:name=".CorreoActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DatosActivity"
            android:exported="false" />
        <activity
            android:name=".AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperacionActivity2"
            android:exported="false" />
        <activity
            android:name=".RecuperacionActivity"
            android:exported="false" />
        <activity
            android:name=".CrearPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>